<!-- global navigation submenu-->

<div class="global-nav-submenu-overlay" id="global-nav-submenu-overlay">
  <div class="global-nav-submenu">
    <button class="close-btn">×</button>
    <ul>
      <li><a href="../index.html">Home Page</a></li>
      <li><a href="./todolist.html">To-do List</a></li>
      <li><a href="./edu-hub.html">Edu Hub</a></li>
      <li><a href="./ai-playground.html"> Ai Playground</a></li>
    </ul>
  </div>
</div>
<button class="menu-btn">☰</button>
<!-- global navigation submenu-->
